.header-wrapper.notice-down-mobile  .notice-bar desktop-notice-bar{
    color: #fff; 
    background-color: #2C3D43;
}

.header-wrapper.notice-down-mobile  .fr-view > p{
    text-align: center;
}

.header-wrapper.notice-down-mobile  .fr-view > p > span {
    font-size: 16px;
}

.header-wrapper.notice-down-mobile  .notice-bar.mobile-notice-bar{
    color: #000000; 
    background-color:#faf4e9;;
}

.header-wrapper.notice-down-mobile  .notice-bar.desktop-notice-bar{
    color: #000;
    background-color: #faf4e9;
}

.header-wrapper.notice-down-mobile  .main-bar.mobile-bar{
    background-color: #2C3D43FF;
    border-bottom: none;
}


.header-wrapper.notice-down-mobile  a {
    color:#FFFFFFFF;
}
