/* The sidebar menu */
.side-navigation {
  left: 0;
 /*  transform: translate3d(-100%,0,0);  */
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.side-navigation .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 24px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen {
  .side-navigation {
    padding-top: 15px;
  }
}
